@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
:root{
	--yellow: #f9ca24;
}
html::-webkit-scrollbar{
	width: 12px;
}
html::-webkit-scrollbar-track{
	background:lightblue;
}
html::-webkit-scrollbar-thumb{
	background: var(--yellow);
}
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	transition: 20px .3s;
}

.hero{
	height: 102vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(images/bg.jpg);
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
}
.nav-bar{
	display: flex;
	padding: 40px 140px;
	background-color: lightblue;
}
.nav-logo img{
	width: 80px;
}
.nav-links{
	flex: 1;
}
.nav-links ul{
	margin-left: 10px;
	display: inline;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 0px 10px;
}
.nav-links ul li a{
	color: lilac;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: black;
	display: block;
	margin: auto;
	transition: .5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.btn{
	border: 0;
	font-weight: bold;
	cursor: pointer;
}
.btn a{
	text-decoration: none;
	color: black;
	background: yellow;
	padding: 10px 20px;
}
.btn a:hover{
	color: black;
}
.nav-links .btn{
	float: right;
}
.banner-title{
	margin: 80px 130px;
	color: #fff;
}
.banner-title h1{
	margin-top: 11.5rem;
	font-size: 64px;
	margin-bottom: 10px;
}
.banner-title h2{
	font-size: 40px;
	color: yellow;
	font-style: Times New Roman;
}
.banner-title h3{
	font-size: 50px;
	/*margin-bottom:-10px;*/
}
.banner-title h1 span{
	color: yellow;
	font-size: 30px;
}
.vertical-bar{
	height: 100%;
	background: #000;
	top: 0;
	left: 0;
	position: absolute;
}
.search-icon{
	height: 53.%;
	width: 80px;
}
.search-icon .fa{
	margin: 45px 23px;
	display: block;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	text-decoration: none;
}
.social-icons{
	height: 39.9%;
	width: 80px;
	background: yellow;
	text-align: center;
	padding-top: 27%;
	bottom: 0;
	position: absolutes;
	text-decoration: none;
}
.social-icons .fa{
	margin: 15px 23px;
	display: block;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
}
.social-icons a{
	text-decoration: none;
	color: black;
}

.nav-bar .fa{
	display: none;
}


section{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 20vw;
}
.blue{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(images/bg.jpg);
	color: white;
	font-size: 20px;
	min-height: 100px;
}
.blue h1{
	font-size: 35px;
}
.dark{
	min-height: 100px;
	/*background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));*/
	background: linear-gradient(lightblue,rgba(0,0,0,0.8));
}
.dark p{
	font-size: 25px;
	line-height: 40px;
}
.curve{
	position: absolute;
	height: 225px;
	width: 96.8%;
	bottom: 0;
}
.curve::before{
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(images/about.jpg);
	transform: translate(85%, 60%);
	z-index: 10;
}
.curve::after{
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	/*background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(images/about.jpg);*/
	transform: translate(-4%, 40%);
}
#cards{
	position: relative;
	float: left;
	padding: 10px 10px;
	margin: 20px 20px;
	margin-left:  20%;
	background: lightblue;
}
#cards i{
	border-radius: 50%;
	width: 80%;
	margin-left: 40%;
}
#names{
	text-align: center;
	font-size: 21px;
}
#names a{
	text-decoration: none;
}

.about_us{
	background: linear-gradient(lightblue,rgba(0,0,0,0.8));
}
@media (max-width: 700px){
	.hero{
		height: auto;
	}
	.vertical-bar{
		display: none;
		height: auto;
	}
	.banner-title{
		margin: 80px 40px;
	}
	.banner-title h1{
		font-size: 35px;
		margin-top: 2rem;
	}
	.banner-title h3{
		font-size: 35px;
	}
	.notifications{
		width: 100%;
		bottom: -20%;
		right: 0;
	}
	.nav-bar{
		padding: 10px 30px;
	}
	.fa-bars{
		position: absolute;
		right: 20px;
		top: 10px;
	}
	.nav-bar .fa{
		display: block;
		color: lilac;
		margin: 3px 25px;
		font-size: 40px;
		cursor: pointer;
	}
	.nav-links{
		height: 100vh;
		width: 200px;
		background: lightblue;
		top: 0px;
		right: -200px;
		position: absolute;
		text-align: left;
		z-index: 4;
		transition: 0.5s;
	}
	.first{
		margin-top: 4em;
	}
	.nav-links ul a{
		display: block;
	}
	.nav-links .btn{
		float: none;
		margin-left: 25px;
		margin-top: 10px;
	}
	
}